.navbar{
    width: 100%;
    background-color: black;
    color: white;
}
.navbar-container{
    padding : 10px 50px 10px 50px ;
    display: flex;
}
ul{
    display: flex;
}
    li{
        padding : 0 10px 0 10px;
        list-style: none;
    }
